* {
    font-family: Arial, Helvetica, sans-serifo;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

main {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    /* margin-bottom: 18px; */
}

code {
    font-family: initial;
}

input[type="password"] {
    color: darkgoldenrod;
}

.external-link::after {
    content: url("Icon_External_Link.svg");
}

.price-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.price-table td,
.price-table th {
    border: 1px solid black;
    padding: 12px 8px;
}

.price-table td:last-child {
    text-align: right;
}

#articles {
    background-color: darkseagreen;
}

.section {
    margin-bottom: 40px;
}

.section__title {
    /* margin-left: 60px; */
    text-align: center;
    font-size: 28px;
}

.article {
    margin-bottom: 80px;
}

.article__title {
    margin-left: 50px;
    margin-bottom: 24px;
    font-size: 22px;
}

.form--flex {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form__input {
    display: block;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 1rem;
    border-radius: 50px;

    /* blur behind the element */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);

    /* box-shadow: x y blur spread */
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    color: #777;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .3s;
    margin-top: 2em;
    font-weight: 600;
    outline-color: rgba(50, 50, 50, .3);
}

button.form__input {
    cursor: pointer;
}