* {
    font-family: Arial, Helvetica, sans-serifo;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

main > * {
    margin-bottom: 40px;
}

h1,
h2,
h3 {
    margin-bottom: 18px;
}

code {
    font-family: initial;
}

.external-link::after {
    content: url("Icon_External_Link.svg");
}

.price-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.price-table td,
.price-table th {
    border: 1px solid black;
    padding: 12px 8px;
}

.price-table td:last-child {
    text-align: right;
}

#articles {
    background-color: darkseagreen;
}

input[type="password"] {
    color: darkgoldenrod;
}